name: Create Runner         ## This is Workflow name
on: workflow_dispatch   ## Event , when we needs to trigger the workflow  and use any branch
jobs:    
  create-runner: ## Job name
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout the Code
        uses: actions/checkout@v6

      - name: list the code files
        run: ls -la 