name: Create Runner         ## This is Workflow name
on: workflow_dispatch   ## Event , when we needs to trigger the workflow  and use any branch
jobs:    
  create-runner: ## Job name
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout the Code
        uses: actions/checkout@v6

      - name: list the code files
        run: ls -l

  # installs latest terraform in the runner and setup aws credentails
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        
      - name: initialize terraform using init command
        run: terraform init